@font-face {
  font-family: 'Futurama Title Font';
  font-style: normal;
  font-weight: normal;
  src: local('Futurama Title Font'), url('/fonts/fr-title.woff') format('woff');
}

@font-face {
  font-family: 'Futurama Bold Font';
  font-style: normal;
  font-weight: normal;
  src: local('Futurama Bold Font'), url('/fonts/fr-bold.woff') format('woff');
}

.msg{
  font-family: "Futurama Bold Font", Monaco, monospace;
  font-size: 20px;
  width: 70%;
  text-align: center;
  margin-left: 10%;
  margin-right: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #bbdcb1;
  opacity: 0.8;

  border-radius: 25px;
  padding: 20px;
}

.ctf {
  background-image: url("/img/futurama.jpg");
  font-family: "Futurama Title Font", Monaco, monospace;
  width: 100%;
  min-height: 550px !important;
}

.ctf .theme--light.v-sheet{
  background-color: transparent !important;
}

.ctf .container.fluid {
  max-width: 1680px !important;
}
.ctf .form-control{
  width: 60%
}


.ctfBack {
  font-family: "Futurama Bold Font", Monaco, monospace;
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.ctfTable {
  font-family: "Futurama Bold Font", Monaco, monospace;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.ctfTable td, .ctfTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.ctfTable th {
  background-color: #bbdcb1;
}
.ctfTable tbody td {
  font-size: 13px;
}
.ctfTable tbody td.team{
  font-size: 19px;
  font-weight: bold;
  text-align: left;
}
.ctfTable tbody td.num{
  font-size: 21px;
  font-weight: bold;
}
.ctfTable tr:nth-child(even) {
  background: #E1F0E3;
}
.ctfTable thead {
  background: #507863;
  background: -moz-linear-gradient(top, #7c9a8a 0%, #618572 66%, #507863 100%);
  background: -webkit-linear-gradient(top, #7c9a8a 0%, #618572 66%, #507863 100%);
  background: linear-gradient(to bottom, #7c9a8a 0%, #618572 66%, #507863 100%);
  border-bottom: 2px solid #444444;
}
.ctfTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
.ctfTable thead th:first-child {
  border-left: none;
}
.ctfTableHead {
  width: 100px;
  font-size: 18px !important;
}
.ctfInput{
  background-color: #ffffff !important;
}
.flagImg{
  height: 42px;
  width: 42px;
}
